* {box-sizing: border-box;}

body {
    margin: 0;
    background-color: darkgreen;
    color: black;
    
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: darkgreen;
  height: auto;
}
a {
  z-index: 1;
  height: 140px;
  width: 140px;
  display: flex;
  align-content: center;
  justify-content: center;
  background-color: green;
  text-decoration: none;
  font-size: xx-large;
  color: orange;
  text-align: center;
  border-radius: 50%;
  border: 5px solid goldenrod;
  padding: 50px;
  margin-top: -5rem;
}
a:hover {
  background-color: purple;
}
main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin: 3rem;
    background-color: green;
    border-radius: 50%;
    border: 20px solid green;
    outline: 10px solid goldenrod;
    padding-bottom: 2rem;
}
.dice {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#result {
  font-size: xx-large;
  background-color: purple;
  border-radius: 50%;
  color: orange;
  border: solid 20px purple;
  text-align: center;
}
#p1, #p2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: x-large;
}